<h1 class="title is-3">Nuevo Servicio de Mantenimiento</h1>

<div class="box">
  <%= render "form", maintenance_service: @maintenance_service %>
</div>

<div class="buttons">
  <%= link_to "Volver a la lista de servicios", maintenance_services_path, class: "button is-light" %>
</div>
